<div class="position-relative"

>
<div class="overlay">
    <p class="overlay-text">is typing...</p>
</div>
<div class="messages-section row cp m-0 px-2">
    <div
        class="col-2 px-0 prof-img"
        [ngStyle]="{
        'background-position': 'center',
        'background-size': 'cover'
        }"
    ></div>
    <div class="col-10 align-self-center">
        <p class="name"></p>
        <p class="message">

        </p>
        <p class="message text-right">

        </p>
    </div>
</div>
